
/apps/csharp-api/bin
/apps/csharp-api/obj
/apps/csharp-api/.vs
/apps/csharp-api/.vs
/apps/csharp-api/.vs
/apps/csharp-api/.vs
/apps/csharp-api/.vs
/apps/csharp-api/.vs
apps/csharp-api/.vs/ProjectEvaluation/csharp-api.projects.v7.bin
apps/csharp-api/.vs/ProjectEvaluation/csharp-api.metadata.v7.bin
apps/csharp-api/.vs/csharp-api/v17/DocumentLayout.json
apps/csharp-api/.vs/csharp-api/v17/.suo
apps/csharp-api/.vs/csharp-api/v17/.futdcache.v2
apps/csharp-api/.vs/csharp-api/FileContentIndex/ce04f2d9-94e7-4340-897c-6e206ed3821e.vsidx
apps/csharp-api/.vs/csharp-api/FileContentIndex/81c9d1b4-c9df-48d7-8f89-bcbcc510d85f.vsidx
apps/csharp-api/.vs/csharp-api/DesignTimeBuild/.dtbcache.v2
/apps/microsvcs/TasksTracker.TasksManager.Backend.Api/bin
/apps/microsvcs/TasksTracker.TasksManager.Backend.Api/obj
/apps/microsvcs/TasksTracker.TasksManager.Backend.Api/.vs
